.landing-wrapper {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.landing-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Gray transparent overlay with blur */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(52 45 45 / 50%);
    /* semi-transparent gray */
    z-index: 1;
}


.landing-content {
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-content h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.landing-content p {
    max-width: 600px;
    margin-bottom: 12px;
}

.landing-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.landing-buttons .orange {
    background-color: #FF9A0B;
    color: white;
}

.white {
    background-color: white;
    color: #FF9A0B;
}
.down-arrow {
    margin-top: 15px;
}