.NavigatorContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;

}
.NavigatorContainer h2 {
    font-size: 14px;
}
.NavigatorContainer p {
    line-height: 16px;
    font-size: 24px;
    color: black;
    font-weight: 300;
}