.no-connection p:first-of-type{
    color: black;
    font-weight: bold;
    margin: 15px;
    font-size: 18px;
    line-height: 1.2vh;
}

.no-connection p:last-of-type {
    color: #aeaaaa;
    padding: 5px;

}


.go-home {
    background-color: #FF9A0B;
    color: white;
    padding: 10px 18px;
    margin-top: 10px;
    border-radius: 9px;
    border: none;
    outline: none;
}