.AvatarLoginContainer .registimg {
    height: 600px;
    max-width: 100%;
    object-fit: cover;
    width: 80%;
    border-radius: 17px;
}

.common-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border: 1px dotted #ccc;
    border-radius: 8px;
    height: 60px;
    background-color: white;
    cursor: pointer;
    background-color: #f3f3f3;
    width: 79%;
    margin: 15px 0 0 0;
}

.common-input-wrapper input[type='file'] {
    display: none;
}

.common-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.95rem;
    color: gray;
    cursor: pointer;
    height: 100%;
    width: 100%;
    
}
.common-input-wrapper .label label {
    text-decoration: underline;
    color: #393939;
}
.Stepper {
    background-color: #B6DEE1 !important;
    color: hsl(0, 0%, 0%) !important;
    font-weight: bold !important;
}