.navbar-container {
    padding: 7px;
}

.logo img {
    width: 100px;
    height: 80px;
}

.logo h2 {
    color: #006466;
    font-family: "Cinzel", serif !important;
}

.navLinks ul {
    gap: 17px;
}
.navLinks ul li {
   line-height: 16px;
}
.navLinks ul li:hover {
   color: #006466;
   font-weight: bold;
   transition: 3ms all ease;
}

.Logos {
    gap: 12px;
}

.Logos img {
    object-fit: cover;
    padding-right: 10px;
}

.login-btn {
    padding: 10px 15px;
    border-radius: 13px;
    background-color: #006466;
    color: white;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    align-items: center;

}

.login-btn p {
    margin: 3px;
}

.login-btn img {
    margin-right: 10px;
}
.dropdown {
  display: none; 
}

li.relative:hover .dropdown {
  display: block; 
}
.dropdown ul {
    margin-top: 5px;
}
.dropdown li {
  cursor: pointer;
  transition:  0.2ms all ease;
  padding: 5px;
  font-weight: 400;
}
